<template>
  <!-- https://buefy.org/documentation/image/#api-view -->
  <!-- https://bulma.io/documentation/elements/image/ -->
  <div>
    <b-tooltip
      :label="pictureInfo"
      position="is-bottom"
      type="is-dark"
      multilined
    >
      <!-- ratio="1by1" -->
      <b-image :src="picturePath" alt="" rounded />
    </b-tooltip>
  </div>
</template>

<script>
export default {
  name: 'AvatarPicture',
  props: {
    // https://v2.vuejs.org/v2/guide/components-props.html#Prop-Validation
    pictureName: { type: String, default: 'picture.jpg' },
    pictureInfo: { type: String, required: true }
  },
  computed: {
    // https://mitya.uk/articles/using-dynamic-image-paths-vue-files
    picturePath() {
      return require(`@/assets/${this.pictureName}`)
    }
  }
}
</script>

<style scoped>
div {
  /* https://bulma.io/documentation/elements/image/#responsive-images-with-ratios */
  /* https://bulma.io/documentation/elements/image/#fixed-square-images */
  width: 128px;
  height: 128px;
  /* https://developer.mozilla.org/pt-BR/docs/Web/CSS/cursor */
  cursor: help;
}
</style>
