<template>
  <!-- https://buefy.org/documentation/tag -->
  <!-- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/hasOwn -->
  <b-field grouped group-multiline>
    <div class="control" v-for="(tag, index) in tags" :key="index">
      <a
        v-if="Object.hasOwn(tag, 'url') && Object.hasOwn(tag, 'icon')"
        :href="tag.url"
        target="_blank"
      >
        <b-taglist attached>
          <b-tag type="is-info is-light">{{ tag.text }} </b-tag>
          <b-tag type="is-info">
            <b-icon :icon="tag.icon" size="is-small" type="is-white" />
          </b-tag>
        </b-taglist>
      </a>
      <b-taglist v-else>
        <b-tag type="is-info is-light">{{ tag.text }}</b-tag>
      </b-taglist>
    </div>
  </b-field>
</template>

<script>
export default {
  name: 'PersonalTags',
  // https://v2.vuejs.org/v2/guide/conditional.html
  data() {
    return {
      tags: [
        {
          text: 'Full-stack Developer'
        },
        {
          text: 'Jungle',
          url: 'https://www.jungle.ai/',
          // icon: 'wind-turbine'
          icon: 'help'
        }
      ]
    }
  }
}
</script>
