<template>
  <!-- https://buefy.org/documentation/icon/ -->
  <!-- https://buefy.org/documentation/button -->
  <!-- https://www.npmjs.com/package/@mdi/font -->
  <!-- https://materialdesignicons.com/ -->
  <!-- https://github.com/Templarian/MaterialDesign-Webfont -->
  <!-- https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css -->
  <!-- https://buefy.org/documentation/dropdown#links-within -->
  <!-- https://github.com/Pictogrammers/brand-icons -->
  <!-- https://buefy.org/documentation/dropdown#scrollable -->
  <b-dropdown aria-role="list">
    <template #trigger>
      <b-button type="is-light" icon-right="dots-horizontal" />
    </template>

    <b-dropdown-item
      v-for="(menu, index) in menus"
      :key="index"
      :value="menu"
      has-link
      aria-role="listitem"
    >
      <a
        :href="menu.url"
        target="_blank"
        :style="{ display: 'flex', alignItems: 'center', gap: '1rem' }"
        :class="menu.icon"
      >
        <b-icon :icon="menu.icon" />
        <span>{{ menu.text }}</span>
      </a>
    </b-dropdown-item>
  </b-dropdown>
</template>

<script>
export default {
  name: 'SocialMenu',
  data() {
    return {
      menus: [
        {
          icon: 'github',
          text: 'GitHub',
          url: 'https://github.com/joaopalmeiro'
        },
        {
          icon: 'gitlab',
          text: 'GitLab',
          url: 'https://gitlab.com/joaommpalmeiro'
        },
        {
          icon: 'mastodon',
          text: 'Mastodon',
          url: 'https://ciberlandia.pt/@joaopalmeiro'
        }
      ]
    }
  }
}
</script>

<style scoped>
a.github:hover {
  /* https://github.com/logos */
  background-color: #24292f1a !important;
  color: #24292f !important;
}
a.gitlab:hover {
  /* https://design.gitlab.com/brand-design/color */
  /* https://gist.github.com/lopspower/03fb1cc0ac9f32ef38f4 */
  background-color: #e243291a !important;
  color: #e24329 !important;
}
a.mastodon:hover {
  /* https://joinmastodon.org/branding */
  background-color: #6364ff1a !important;
  color: #6364ff !important;
}
</style>
