<template>
  <!-- https://bulma.io/documentation/columns/options/#centering-columns -->
  <!-- https://bulma.io/documentation/helpers/spacing-helpers/ -->
  <!-- https://bulma.io/documentation/helpers/color-helpers/ -->
  <div
    id="app"
    class="columns is-mobile is-centered is-vcentered pb-6"
    :style="{ borderTop: '1.5rem solid hsl(206, 70%, 96%)', margin: '0px' }"
  >
    <!-- is-half -->
    <div
      class="column is-flex is-flex-direction-column is-align-items-center"
      :style="{ gap: '1rem' }"
    >
      <!-- https://bulma.io/documentation/helpers/flexbox-helpers/ -->
      <!-- https://github.com/jgthms/bulma/issues/3414 -->
      <!-- https://bulma.io/documentation/columns/gap/ -->
      <!-- https://bulma.io/documentation/helpers/other-helpers/ -->
      <div class="is-relative">
        <!-- https://v2.vuejs.org/v2/guide/components-props.html#Prop-Casing-camelCase-vs-kebab-case -->
        <!-- https://v2.vuejs.org/v2/guide/components-props.html#Passing-Static-or-Dynamic-Props -->
        <AvatarPicture
          picture-info="This photo was taken while working on my Master's thesis at Feedzai."
        />
        <div
          :style="{
            position: 'absolute',
            left: 'calc(100% + 0.5rem)',
            top: 0
          }"
        >
          <SocialMenu />
        </div>
      </div>
      <!-- https://bulma.io/documentation/helpers/typography-helpers/ -->
      <h1
        class="is-size-2 has-text-weight-medium is-family-sans-serif has-text-centered"
      >
        João Palmeiro
      </h1>
      <PersonalTags />
    </div>
  </div>
</template>

<script>
import AvatarPicture from '@/components/AvatarPicture.vue'
import PersonalTags from '@/components/PersonalTags.vue'
import SocialMenu from '@/components/SocialMenu.vue'

export default {
  name: 'App',
  components: {
    AvatarPicture,
    PersonalTags,
    SocialMenu
  }
}
</script>

<style scoped>
#app {
  min-height: 100vh;
}
</style>
